.choices {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.8rem;
    border: .1rem solid rgb(86, 165, 235, 0.25);
    background-color: #82ccdd;

}

.choices:hover {
    cursor: pointer;
    box-shadow: 0 0 .4rem 1.4rem 0 rgba(#2c2c54, 0.5);
    transform: translateX(-.6rem);
    transition: .3s ease;
}

.choices-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #227093;
}


.choices-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #10ac84;
}

.incorrect {
    background-color: #ee5253;
}

/* HUD */

.hud {
    display: flex;
    justify-content: space-between;

}

.hud__item-text {
    text-align: center;
    font-size: 2.2rem;
}

.hud__main-text {
    text-align: center;
}